body {
	margin: 0;
	padding: 0;
}

canvas {
	background: #888;
	border: solid #888 2px;
}

textarea {
	width: 360px;
	height: 90px;
}

table {
	background: #000;
}

th,
td {
	background: #fff;
}

.configArea {
	position: absolute;
	top: 0;
	right: 0;
	width: 35%;
	margin: 0;
	padding: 16px;
}

.mainArea {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	margin: 0;
	padding: 16px;
}